# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Build / dist
build/
dist/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Unity (if used later)
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/